<h1>Make your pirate here</h1>
<form method="post" action='/pirates'>
  <label for="pname"> Pirate Name:</label>
  <input type="text" name="pirate[name]" id="pname">
  <label for="pweight"> Pirate Weight:</label>
  <input type="text" name="pirate[weight]" id="pweight">
  <label for="pheight"> Pirate Height:</label>
  <input type="text" name="pirate[height]" id="pheight">

  <h2>Ships</h2>
  <label for="sname"> Ship Name:</label>
  <input type="text" name="pirate[ships][][name]" id="sname">
  <label for="stype"> Ship Type:</label>
  <input type="text" name="pirate[ships][][type]" id="stype">
  <label for="sbooty"> Ship Booty:</label>
  <input type="text" name="pirate[ships][][booty]" id="sbooty">

  <label for="sname"> Ship Name:</label>
  <input type="text" name="pirate[ships][][name]" id="sname">
  <label for="stype"> Ship Type:</label>
  <input type="text" name="pirate[ships][][type]" id="stype">
  <label for="sbooty"> Ship Booty:</label>
  <input type="text" name="pirate[ships][][booty]" id="sbooty"><br><br>
  <input type="submit">
</form>
